extends ./layout.pug

block content
  p
   |This project honors the life and works of <a href='/Introduction/#RRFay'>Professor Richard R. Fay</a>, whose kindness and intellectual 
   |generosity have touched so many.  Here, you can find the data found in <b>Hearing in Vertebrates</b>, just one of his 
   |contributions.  The <a href='/Introduction'>introduction to the book</a> includes a comprehensive tutorial for those interested in 
   |the auditory sciences.  Select the dataset you wish to see and then scroll to the bottom of the page to view the data.  
  p
   |This website is still under development: More user friendly data and search capabilities are coming soon!  Kindly email 
   |<a href="mailto:dma@fayfoundation.org">us</a> if you have questions/comments, find missing data or transcription errors.  We also 
   |want to know if you find this website useful and/or how to make it more useful!  
  p
   |If you use this resource, please cite both the original literature as well as the Richard R. Fay Foundation. 
  #Submit
  
  form()
  p
   |Find  :
   select(id='fname')
     option(value='Author') Author
     option(value='Species') Species
     option(value='Topic') Topic
   input(type='text' id='val' value='<text>')
  #buttonBar
  a(class='buttonBar' href='#dataList') Browse the data
  #dataList
  #metadata
  #record_title
  #record_number
  p
  #data_title
  p
  #topic
  #species
  #common_name
  #author
  #reference
  p
  #notes
  p
  #axis_labels
  #units
  p
  #vals
