extends layout

block content
  h2 Richard Rozzell Fay
  img#tabledata(src="images/DickFay.jpeg" width="170" height="200")
  p
   |Richard R. Fay Ph.D. is Professor Emeritus, Distinguished University Research Professor at Loyola University Chicago. 
   |He was a Professor of Psychology and the Director of Parmly Hearing Institute, 1974-2011. He earned his Bachelors degree
   |from Bowdoin College and Ph.D. from Princeton University working with E.G. Weaver. He did a post-doc with Dr. Georg Von 
   |Békésy before eventually settling in Chicago. He, along with his life long colleague, Dr. Art Popper, have edited 55 
   |volumes of the Springer Handbook of Auditory Research (SHAR). After spending a sabbatical year in the library, Dick 
   |also published Hearing in Vertebrates: A Psychophysics Databook.  The data from this book are being made available as 
   |a special collection by the Fay Foundation.  Professor Fay is married to his lifelong love, Cathy and has two children, 
   |Christian and Amanda.
